{% extends 'base.html' %}
{% block myContent %}
    <h1>Welcome to {{username}}'s homepage</h1>
    <button onclick="location.href='/search/';" style="margin-left:auto;margin-right: 2rem;">Search</button>
    <button onclick="location.href='/message/';">New Message</button>
    {% if messages %}
        {% for message in messages %}
            <br>
            <h2>{{message.user.username}}</h2>
            <p>{{message.contents}} 
        {% endfor %}
    {% endif %}
    <br><br><br>
{% endblock %}

{% block deleteaccountbutton %}
    <button onclick="location.href='/deleteaccount/';" style="margin-left:auto;margin-right: 2rem;">Delete Account</button>
{% endblock %}