{% extends "base.html" %}
{% block myContent %}
<h1>Search</h1>
<form action="" method="POST" novalidate>
	{{form.hidden_tag()}}
	<p>{{form.query.label}}: {{form.query()}}</p>
	<p>{{form.mode}}</p>
	<p>{{form.submit()}}</p>
</form>
<button onclick="location.href='/';">Home</button>
<br><br>
    {% if results is defined %}
		<h2>Results</h2>
		{% if results|length == 0 %}
			<p>No results found!</p>
		{% else %}
			{% if results[0].username is defined %}
<!--				if 'username' field exists, results is User objects. Otherwise, results is Message objects-->
				{% for user in results %}
					<h3>{{ user.username }}</h3>
					<br>
				{% endfor %}
			{% else %}
				{% for message in results %}
					<h3>{{message.user.username}}</h3>
					<p>{{message.contents}}
					<br>
				{% endfor %}
			{% endif %}
		{% endif %}
    {% endif %}
{% endblock %}